.banner {
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.overlay {
  background-color: rgba(151, 15, 15, 0.55);
  padding: 2rem;
  padding-bottom: 40px;
  color: white;
  max-width: 500px;
  width: 100%;
  text-align: right;
}

.fw-bold {
  margin-bottom: 20px;
}

.input-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
